---
import Layout from "../layouts/Layout.astro";

const metadata = {
  title: "The Lucas Machado Blog",
  description: "Lucas Machado's personal blog.",
};
---

<Layout {...metadata}>
  <div>
    <h1 class="text-3xl font-bold tracking-tight text-slate-200 pb-4">
      Lucas Machado's Blog
    </h1>
    <p class="leading-normal pb-8">
      This is where I will post about my journey learning and building software.
    </p>
    <div>
      <h2 class="text-xl font-medium tracking-tight text-slate-100 pb-2">
        Posts
      </h2>
      <ul>
        <li>
          <a href="/blog/why-astro">Why Astro?</a>
        </li>
      </ul>
    </div>
  </div>
</Layout>
