---
import Layout from "../layouts/Layout.astro";

const metadata = {
  title: "The Lucas Machado Blog",
  description: "Lucas Machado's personal blog.",
};
---

<Layout {...metadata}>
  <h1>Blog</h1>
</Layout>
