---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";

const metadata = {
  title: "Lucas Machado",
  description:
    "Lucas Machado is a software engineer who builds accessible and interactive user experiences for the web.",
  image: {
    url: "https://avatars.githubusercontent.com/u/73367620?v=4",
    alt: "A picture of Lucas, a young man with glasses, a beard and a black t-shirt, smiling on a bright day outside",
  },
};
---

<Layout {...metadata}>
  <ol class="flex flex-col gap-8">
    <li>
      <Experience
        position="Junior Front-End Developer"
        company={{ name: "Onyma", website: "https://www.onyma.digital/" }}
        duration={{ start: "SEP 2023", end: "PRESENT" }}
        description="Promoted to a full-time developer position. Currently working on delivering new features for the company's many web apps. Recent projects include an AI-powered chatbot."
        skills={[
          "React",
          "JavaScript",
          "TypeScript",
          "Next",
          "Redux",
          "Jest",
          "React Router",
          "Vite",
          "Scrum",
          "Linux",
        ]}
      />
    </li>
    <li>
      <Experience
        position="Front-End Developer Intern"
        company={{ name: "Onyma", website: "https://www.onyma.digital/" }}
        duration={{ start: "MAR 2022", end: "AUG 2023" }}
        description="Started developing, maintaining, and shipping production code for a health-tech startup. Acquired hands-on experience while working on multiple projects, ranging from landing pages to interactive dashboards."
        skills={[
          "HTML",
          "CSS",
          "JavaScript",
          "TypeScript",
          "React",
          "Next",
          "Context API",
          "Styled Components",
          "Git",
          "GitHub",
        ]}
      />
    </li>
  </ol>
</Layout>
