---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";

const metadata = {
  title: "Lucas Machado",
  description:
    "Lucas Machado is a software engineer who builds accessible and interactive user experiences for the web.",
  image: {
    url: "https://avatars.githubusercontent.com/u/73367620?v=4",
    alt: "A picture of Lucas, a young man with glasses, a beard and a black t-shirt, smiling on a bright day outside",
  },
};
---

<Layout {...metadata}>
  <ol class="flex flex-col gap-8">
    <li>
      <Experience
        position="Developer II"
        company={{ name: "Assetbots", website: "https://assetbots.com/" }}
        duration={{ start: "FEB 2025", end: "PRESENT" }}
        skills={["React", "TypeScript", "C#", ".NET", "T-SQL", "Replicache"]}
      >
        Promoted to a mid-level role, acting as a full-stack developer and code reviewer.
      </Experience>
    </li>
    <li>
      <Experience
        position="Developer I"
        company={{ name: "Assetbots", website: "https://assetbots.com/" }}
        duration={{ start: "OCT 2024", end: "FEB 2025" }}
        skills={["React", "TypeScript", "C#", ".NET", "T-SQL", "Replicache"]}
      >
        Joined <a
          href="https://mosyle.com/"
          target="_blank"
          class="text-slate-200 hover:text-teal-300 focus-visible:text-teal-300"
          >Mosyle</a
        > shortly after the Assetbots acquisition, as an early member of the
        development team. Worked with <a
          href="https://replicache.dev/"
          target="_blank"
          class="text-slate-200 hover:text-teal-300 focus-visible:text-teal-300"
          >realtime sync</a
        > and acquired experience on a <a
          href="https://dotnet.microsoft.com/en-us/apps/aspnet"
          target="_blank"
          class="text-slate-200 hover:text-teal-300 focus-visible:text-teal-300"
          >backend stack</a
        >.
      </Experience>
    </li>
    <li>
      <Experience
        position="Junior Developer"
        company={{ name: "Onyma", website: "https://www.onyma.digital/" }}
        duration={{ start: "SEPT 2023", end: "OCT 2024" }}
        skills={["React", "TypeScript", "Next.js", "HTML", "CSS"]}
      >
        Promoted to a full-time developer position. Worked on delivering new
        features for the company's many web apps. Notable projects include an
        AI-powered chatbot.
      </Experience>
    </li>
    <li>
      <Experience
        position="Developer Intern"
        company={{ name: "Onyma", website: "https://www.onyma.digital/" }}
        duration={{ start: "MAR 2022", end: "SEPT 2023" }}
        skills={["React", "TypeScript", "Next.js", "HTML", "CSS"]}
      >
        Started developing, maintaining, and shipping production code for a
        health-tech startup. Acquired hands-on experience while working on
        multiple projects, ranging from landing pages to interactive dashboards.
      </Experience>
    </li>
  </ol>
</Layout>
