---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.tsx';
import Main from '../components/Main.tsx';
---

<Layout title="Lucas Machado">
  <Main />
  <Button>Click me</Button>
</Layout>

<style>
  * {
    color: #fff;
  }
</style>
