---
import Nav from "../components/Nav.astro";
import SocialMedia from "../components/SocialMedia.astro";

const socialMedia = [
  {
    label: "GitHub",
    icon: "mdi:github",
    url: "https://github.com/lucsmachado/",
  },
  {
    label: "LinkedIn",
    icon: "mdi:linkedin",
    url: "https://www.linkedin.com/in/lucascarmac/",
  },
  {
    label: "YouTube",
    icon: "mdi:youtube",
    url: "https://www.youtube.com/@lucasmachado6447/videos",
  },
];
---

<header
  class="lg:py-24 lg:sticky lg:top-0 lg:max-h-screen lg:w-1/2 lg:flex lg:flex-col lg:justify-between"
>
  <section class="flex flex-col gap-8">
    <img
      src="https://avatars.githubusercontent.com/u/73367620?v=4"
      alt="A picture of Lucas, a young man with glasses, a beard and a black t-shirt, smiling on a bright day outside"
      class="rounded-full aspect-square w-32"
    />
    <div class="flex flex-col gap-2">
      <h1 class="text-4xl sm:text-5xl font-bold tracking-tight text-slate-200">
        Lucas Machado
      </h1>
      <h2 class="text-lg sm:text-xl font-medium tracking-tight text-slate-200">
        Junior Developer
      </h2>
      <p class="max-w-sm leading-normal">
        Software engineer with 2+ years of experience in building web
        applications. Graduated with a Bachelor's degree in Computer Science
        from USP. Specializing in front-end development with expertise in React,
        TypeScript, and Next.js.
      </p>
      <Nav />
    </div>
  </section>
  <div class="pt-8">
    <ul class="flex flex-wrap gap-8">
      {
        socialMedia.map((item) => (
          <li>
            <SocialMedia label={item.label} icon={item.icon} url={item.url} />
          </li>
        ))
      }
    </ul>
  </div>
</header>
